/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

/*root page*/

#landing {
	height: 700px;
}

#landing_heading {
	width: 50%;
	height: 100%;
	background: #36465D;
	color: #36465D;
	float: left;
}

#landing_heading h1 {
	font-size: 11em;
	margin: 0;
	text-align: right;
	padding: 35% 0;
}

#landing_heading h1 i {
	background: white;
	padding-left: 25px;
	padding-bottom: 10px;
}

#landing_article {
	float: right;
	width: 50%;
	text-align: center;

}

#landing_buttons {
	background: #36465D;
	width: 398px;
	height: 209px;
	margin: 35% 0;
	padding-top: 12px;
}

#landing_buttons .landing_button {
	width: 250px;
	height: 60px;
	background: white;
	margin: 18px auto;
}

#landing_buttons .landing_button p {
	padding-top: 11px;
}

#landing_buttons a {
	color: #36465D;
	text-decoration: none;
	font-size: 1.7em;
}

#landing_buttons .landing_button:hover {
	background: #56BC8A;
}
/*==========================================================*/

/*sign up page*/

#sign-up {
	width: 460px;
	height: 390px;
	margin: 10% auto;
	background: #36465D;
	color: white;
	text-align: center;
}

#signup_heading a {
	color: #56BC8A;
}

#signup_heading h1 {
	padding-top: 15px;
	font-size: 3em;
	margin: 0;
}

#signup_heading p {
	margin-top: 4px;
}

#signup_article form {
	width: 300px;
	margin: 0 auto;
}

#signup_article input {
	display: block;
	margin: 25px 0;
	width: 300px;
	font-size: 1.2em;
}

#signup_article input:focus {
	border: 2px solid #56BC8A;
	outline: none;
}

#signup_article #signup_submit {
	width: 120px;
	margin: 15px auto;
	margin-bottom: 0;
	background: #56BC8A;
	color: white;
	border: none;
}

/*==========================================================*/

/*log in page*/

#log-in {
	width: 460px;
	height: 350px;
	margin: 10% auto;
	background: #36465D;
	color: white;
	text-align: center;
}

#login_heading a{
	color: #56BC8A;
}

#login_heading h1{
	padding-top: 15px;
	font-size: 3em;
	margin: 0;
}

#login_heading p {
	margin-top: 4px;
}

#login_article form {
	width: 300px;
	margin: 0 auto;
}

#login_article {
	margin-top: 50px;
}

#login_article input {
	display: block;
	margin: 30px 0;
	width: 300px;
	font-size: 1.2em;
}


#login_article input:focus {
	border: 2px solid #56BC8A;
	outline: none;
}

#login_article #login_button {
	width: 120px;
	margin: 15px auto;
	background: #56BC8A;
	color: white;
	border: none;
}

/*==========================================================*/

/*nav bar - visible only after user is logged in */

nav {
	text-align: right;
	height: 40px;
	width: 100%;
	background: #36465D; 
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
	padding-top: 8px;
}

nav ul li {
	display: inline-block;
	margin: 0 10px;
	color: #56BC8A;
}

nav ul li a {
	text-decoration: none;
	color: #56BC8A;
}

nav ul li i {
	font-weight: bold;
}

/*==========================================================*/

/*User profile page*/

#profile_heading {
	width: 100%;
	margin: 45px auto;
	text-align: center;
	color: #36465D;
}

#profile_heading h1 {
	margin-bottom: 0;
	font-size: 3em;
}

#profile_heading a {
	text-decoration: none;
	color: #56BC8A;
}

#profile_heading span {
	padding: 0 5px;
}

#profile_heading i {
	font-weight: bold;
}

#profile_edit_button {
	margin: 10px;

}

#profile_article {
	width: 90%;
	margin: 0 auto;
}

#post_box_profile {
	width: 60%;
	margin: 20px auto;
	color: white;
	background: #36465D;
	padding: 1px;
}

#post_box_profile h3 {
	margin: 5px 10px;
	border-bottom: 1px solid white;
	font-size: 1.5em; 
	padding-bottom: 10px;
}

#post_box_profile p {
	margin: 5px 10px;
	border-bottom: 1px solid white;
	padding-top: 8px;
	padding-bottom: 17px;
}

#post_box_profile ul {
	list-style: none;
	text-align: right;
	margin: 5px 5px;
}

#post_box_profile ul li {
	display: inline-block;
	color: #56BC8A;
	margin: 0 5px;
	font-size: 0.8em;
}
 
#post_box_profile ul li a {
	color: #56BC8A;
}


/*==========================================================*/

/*index of posts*/

#posts_index_heading {
	width: 100%;
	margin: 45px auto;
	text-align: center;
	color: #36465D;
}

#posts_index_heading h1 {
	margin-bottom: 0;
	font-size: 3.5em;
}

#posts_index_heading h4 {
	margin-top: 10px;
	font-size: 1.5em;
}

#posts_index_heading h4 i {
	color: #56BC8A;
}

#posts_index_heading a {
	text-decoration: none;
	color: #56BC8A;
}

#posts_index_article {
	width: 90%;
	margin: 0 auto;
}

#post_box_index {
	width: 60%;
	margin: 20px auto;
	color: white;
	background: #36465D;
	padding: 1px;
}

#post_box_index h3 {
	margin: 5px 10px;
	font-size: 1.5em; 
}

#post_box_index h5 {
	border-bottom: 1px solid white;
	margin: 5px 10px;
	padding-bottom: 10px;
}

#post_box_index h5 a {
	color: #56BC8A;
}

#post_box_index p {
	margin: 5px 10px;
	border-bottom: 1px solid white;
	padding-top: 8px;
	padding-bottom: 17px;
}

#post_box_index ul {
	list-style: none;
	text-align: right;
	margin: 5px 5px;
}

#post_box_index ul li {
	display: inline-block;
	color: #56BC8A;
	margin: 0 5px;
	font-size: 0.8em;
}
 
#post_box_index ul li a {
	color: #56BC8A;
}

/*==========================================================*/

/*show post page*/

#post_show {
	width: 60%;
	margin: 15px auto;
}

#post_title {
	width: 95%;
	margin: 30px auto;
	background: #36465D;
	color: white;
	padding: 1px 0;
}

#post_title h1 {
	margin: 8px;
}

#post_title h5 {
	margin: 0 8px;
	padding-bottom: 8px;
	display: inline-block;
}

#post_title a {
	color: #56BC8A;
}

#post_title input {
	float: right;
	color: white;
	background: #56BC8A;
	border: none;
	margin-top: 1px;
}

#post_title input:focus {
	outline: none;
}

#post_body {
	width: 95%;
	margin: 30px auto;
	background: #36465D;
	color: white;
	padding: 1px 0;
}

#post_body p {
	margin: 8px;
}

#post_img {
	text-align: center;
}

#post_img img {
	max-width: 90%;
	border: 10px solid #56BC8A;
}

#post_body p i {
	font-size: 1.2em;
}

#post_new_comment form {
	margin: 8px;
}

#post_new_comment input {
	width: 84%;
	font-size: 1.1em;
}

#post_new_comment input:focus {
	border: 2px solid #56BC8A;
	outline: none;
}

#post_new_comment #submit_comment {
	width: 14%;
	margin-top: 1px; 
	background: #56BC8A;
	color: white;
	border: none;
	margin-left: 5px;
}

#post_comments_show {
	width: 95%;
	margin: 30px auto;
	background: #36465D;
	color: white;
	padding: 3px 0;
}

#post_comment_box {
	margin: 10px 8px;
	padding-top: 8px;
	border-top: 1px solid white;
}

#delete_button {
	float: right;
}

#clear {
	clear: both;
}

#post_comments_show a {
	color: #56BC8A;
}

/*==========================================================*/

/*create new post page */

#new-post {
	width: 50%;
	height: 718px;
	margin: 4% auto;
	background: #36465D;
	color: white;
	text-align: center;
}

#new-post_heading h1 {
	padding-top: 15px;
	font-size: 3em;
	margin: 0;
}

#new-post_heading h1 i {
	color: #56BC8A;
}

#new-post_article .new_post {
	width: 75%;
	margin: 0 auto;
}

#new-post_article {
	margin-top: 20px;
}

#new-post_article input, textarea {
	display: block;
	margin: 15px auto;
	width: 100%;
	font-size: 1.2em;
	background: white;
	color: black;
}

#new-post_article input:focus, textarea:focus{
	border: 2px solid #56BC8A;
	outline: none;
}

#new-post_article textarea {
	width: 100%;
	height: 400px;
	padding-right: 5px;
	background: white;
	margin-top: 17px;
	margin-bottom: 16px;
	color: black;
}

#new-post_article #post_desc {
	height: 50px;
}

#new-post_article #new-post_button {
	width: 120px;
	margin: 5px auto;
	background: #56BC8A;
	color: white;
	border: none;
}
/*==========================================================*/
 
 /*edit profile page*/

#edit_profile {
	width: 470px;
	height: 390px;
	margin: 8% auto;
	background: #36465D;
	color: white;
	text-align: center;
}

#edit_profile h1 {
	padding-top: 15px;
	font-size: 2.5em;
	margin: 0;
}

#edit_profile form {
	width: 350px;
	margin: 0 auto;
}

#edit_profile label {
	float: left;
	width: 85px;
	padding-top: 5px;
}

#edit_profile input {
	display: block;
	margin: 25px 0;
	width: 250px;
	font-size: 1.1em;
}

#edit_profile input:focus {
	border: 2px solid #56BC8A;
	outline: none;
}

#edit_profile #edit_profile_button {
	width: 120px;
	margin: 15px auto;
	margin-bottom: 0;
	background: #56BC8A;
	color: white;
	border: none;
}

#edit_profile a {
	color: #56BC8A;
}


